*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: orangered;
}

header h1{
    font-weight: 700pt;
    font-family: Arial, Helvetica, sans-serif ;
    /* margin-bottom: 0; */
}


header h2{
    /* margin-top: 0; */
    font-family: 'sans-serif';
    font-weight: 400;
    /* margin-bottom: 0; */
}

#searchbox{
    text-align: right;
}

#searchbox input{
    border-radius: 10px;
    padding: 5px;
}

/* body{
    background-color: block(245, 220, 242);
    padding: 0;
    margin: 0;
} */


/*#navbar{
    background-color: aquamarine;
}
*/

ul {
    list-style-type: none;
    /* margin: 0; */
    /* padding: 0; */
    overflow: hidden;
    background-color: orangered;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    
}

li a:hover {
    background-color: white;
    color: orangered;
    border: 1px solid orangered;
    text-decoration: none;
}

.active {
    background-color: green;
}

li{
    border-right: 1px solid whitesmoke;
}

/*.pix{
    margin: 6px 0 3px 0;
    width: 50%;
    height: 50%;
    padding: 10px;
}*/

/* .title{
    float: center;
    font-size: large;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

.col-md-3 input {
    background-color: orangered;
    border-radius: 10px;
    width: 50px;
}

.col-md-3 input:hover {
    background-color: white;
    color: orangered;
    border: 1px solid orangered;
}

#facebook{
    width: 1cm;
    height: 1cm;
}

#instagram{
    width: 1cm;
    height: 1cm;
}

#twitter{
    width: 1cm;
    height: 1cm;
}

h1{
    font-family: 'roboto', 'sans-serif';
    font-weight: 700;
}

p, h2, h3, h4, h5, a{
    font-family: 'roboto', 'sans-serif';
    font-weight: 400;
}


.footer{
    /* bottom: 0; */
    padding: 20px;
    width: auto;
    background-color: orangered;
    /* margin: 0px; */
    /* top: 10; */
    text-align: center;
}
    

/* *aside{
   
}* */


/*.product{
    display: flex;
    padding: 10pt;
}
*/

/* .maincontainer{
    float: left;
    width: 75%;
} */



/* section.col-md-6 {
    width: 200px;
    height: 250px;
    background-color: red;
    margin-right: 30px;
}

section > img {
    width: 200px;
    background-size: auto;
} */